﻿@model StockBarang.Models.ItemCreateModel
@{
    ViewBag.Title = "Add new Item";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Create", "Item", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Store, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.Store, new SelectList(Model.StoreList, "store_url", "storename"))
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ID, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.ID, new SelectList(Model.MaterialList, "id", "nama"))
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ItemUrl, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.ItemUrl, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
