﻿@model StockBarang.Models.ItemListModel
@{
    ViewBag.Title = "Store List";
}

<h2>@ViewBag.Title.</h2><br />
<button onclick="javascript:location='/item/create'">Add Store</button><br />
<div class="list-group">
    @for (var i = 1; i <= Model.Items.Count; i++)
    {
        var c = Model.Items.ElementAt(i-1);
        @:<div class="list-group-item list-group-item-action flex-column align-items-start">
            @:<div class="d-flex w-100 justify-content-between">
                  @:<a href="/item/delete?id=@c.iditem"><small>Delete</small></a>
                  @:<a href="/item/stock?id=@c.iditem"><small>Change Stock</small></a>
            @:</div>
            @:<p class="mb-1">
            @:<h4 class="mb-1">@c.itemname</h4>
            @:Store : @c.store_url<br />
            @:</p>
        @:</div>
    }
</div>
<nav aria-label="...">
    <ul class="pagination">
        @for (var i = 1; i <= Model.Paging.Count; i++)
        {
            StockBarang.Helper.PagingEntity paging = Model.Paging[i - 1];
            @:<li class="page-item @(paging.disabled?"disabled":"")@(paging.active?"active":"")"><a class="page-link" href="@paging.href" tabindex="-1">@paging.PagingText</a></li>
        }
    </ul>
</nav>