﻿@model StockBarang.Models.ItemStockModel
@{
    ViewBag.Title = "Change item stock";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Stock", "Item", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <h4>Change stock for @Model.Item.itemname.</h4>
    <hr />
    @Html.HiddenFor(m => m.Item.item_url, new { @class = "form-control" })
    @Html.HiddenFor(m => m.Item.store_url, new { @class = "form-control" })
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.stock, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.stock, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Change" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
