﻿@model StockBarang.Models.StoreListModel
@{
    ViewBag.Title = "Store List";
}

<h2>@ViewBag.Title.</h2><br />
<button onclick="javascript:location='/store/create'">Add Store</button><br />
<div class="list-group">
    @for (var i = 1; i <= Model.Stores.Count; i++)
    {
        var c = Model.Stores.ElementAt(i-1);
        @:<div class="list-group-item list-group-item-action flex-column align-items-start">
            @:<div class="d-flex w-100 justify-content-between">
                  @:<a href="/store/delete?url=@c.store_url"><small>Delete</small></a>
            @:</div>
            @:<p class="mb-1">
            @:<h4 class="mb-1"><a href="@c.store_url">@c.storename</a></h4>
            @:Marketplace : @c.marketplace<br />
            @:User : @c.username<br />
            @:</p>
        @:</div>
    }
</div>
<nav aria-label="...">
    <ul class="pagination">
        @for (var i = 1; i <= Model.Paging.Count; i++)
        {
            StockBarang.Helper.PagingEntity paging = Model.Paging[i - 1];
            @:<li class="page-item @(paging.disabled?"disabled":"")@(paging.active?"active":"")"><a class="page-link" href="@paging.href" tabindex="-1">@paging.PagingText</a></li>
        }
    </ul>
</nav>